{% extends 'mall/base.html' %}
{% load static %}
{% block main_area %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Show Sweet Things!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">원하는 간식을 쇼핑하세요</p><br>
                    {% if category %} <p class="lead fw-normal text-white mb-0">[ {{category}} ]</p>
                    {% else %} <p class="lead fw-normal text-white- mb-0">[ 전체 ]</p>
                    {% endif %}
                </div>
            </div>
        </header>

        {% include 'mall/side.html' %}

        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-1">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                    {% if product_list.exists %}

                    {% for p in product_list %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            {% if p.img %}
                                <img class="card-img-top"  src="{{ p.img.url }}" alt="{{p}}의 head image" height="280" width="180" />
                            {% else %}
                                <img class="card-img-top" src="https://dummyimage.com/280x180/dee2e6/6c757d.jpg" alt="..." />
                            {% endif %}

                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    {% if p.category %}
                                        <span class="badge bg-secondary">{{ p.category }}</span>
                                    {% else %}
                                        <span class="badge bg-secondary">기타</span>
                                    {% endif %}
                                        <span class="badge bg-secondary">브랜드</span>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder mt-2">{{ p.name }}</h5>
                                    <!-- Product price-->
                                    {{ p.price }}원 ({{p.gram}}g)
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View More</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            {% else %}
                <div class="row">
                    <h5>아직 상품이 없습니다.</h5><br>
                </div>
            {% endif %}

        </section>

{% endblock %}