{% extends 'mall/base.html' %}
{% load crispy_forms_tags %}
{% block main_area %}

{% include 'mall/side.html' %}
        <!-- Product section-->
        <section class="pt-2 pb-5">
            <div class="container px-4 px-lg-5 my-3">
                <div class="row gx-4 gx-lg-5 py-3 align-items-center">

                    <div class="col-md-6">
                        {% if product.img %}
                            <img class="card-img-top mb-5 mb-md-0" src="{{ product.img.url }}" alt="{{product.name}}의 이미지" />
                        {% else %}
                            <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." />
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        <div class="mb-3">
                        {% if product.category %}
                            <span class="badge badge-pill badge-info">{{ product.category }}</span>
                        {% else %}
                            <span class="badge badge-pill badge-info">기타</span>
                        {% endif %}
                        {% if product.brand %}
                             <span class="badge badge-pill badge-success">{{ product.brand }}</span>
                        {% else %}
                             <span class="badge badge-pill badge-success">기타</span>
                            {% endif %}
                        </div>

                        <h2 class="display-8 fw-bolder">{{ product.name }}</h2><br>

                        <div class="fs-5 mb-5">
                            <span >
                                가격&nbsp;&nbsp;&nbsp; : &nbsp; {{ product.price }}원<br>
                                용량&nbsp;&nbsp;&nbsp; : &nbsp; {{product.gram}}g<br>
                                칼로리 : &nbsp; {{ product.calories }}cal<br>
                            </span>
                        </div>

                        <p class="lead">{{ product.get_content_markdown | safe }}</p><br>

                        <div class="d-flex">
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="row">
                    <div class="col-md-6 mt-4" style="text-align:center;">
                        <h5 class="display-8 fw-bolder">[영양정보]</h5><br>
                    </div>
                    <div class="col-md-6 mt-4" style="text-align:center;">
                        <h5 class="display-8 fw-bolder">[제조사]</h5><br>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% if product.nutrition_img %}
                        <img class="card-img-top mb-5 mb-md-0" src="{{ product.nutrition_img.url }}" alt="{{product.name}}의 이미지" />
                        {% else %}
                        <div class="fs-5 mb-5" style="text-align:center;">
                            <span >영양성분 정보가 존재하지 않습니다.</span>
                        </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        {% if product.brand %}
                        <div class="fs-5 mb-5" style="text-align:center;">
                            <span >
                                제조사명 : {{ product.brand.name }}<br>
                                주소 : {{product.brand.address}}<br>
                                연락처 : {{ product.brand.contact }}<br>
                                설립일 : {{ product.brand.since | date:"Y.m.d"}}<br>
                            </span>
                        </div>
                        {% else %}
                        <div class="fs-5 mb-5" style="text-align:center;">
                            <span >제조사 정보가 존재하지 않습니다.</span>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-md-12" style="text-align:right">
                    {% if user.is_authenticated and user == product.author %}
                        <a href="/mall/update_product/{{product.pk}}/" class="btn btn-outline-warning btn-small float-right">
                            <i class="fas fa-pen"></i>
                            상품 수정
                        </a>
                    {% endif %}
                    </div>
                </div>

            </div>
        </section>


<!-- Comments section-->
        <section class="pt-2 pb-5">
            <div class="container px-4 px-lg-5 my-3" id="comment-area">
                <div class="card bg-light">
                    <div class="row gx-4 gx-lg-5 py-3 align-items-center card-body">
                        <!-- Comment form-->
                        {% if user.is_authenticated %}
                            <form class="mb-4" id="comment-form" method="POST" action="{{ product.get_absolute_url }}new_comment/">
                                {% csrf_token %}
                                    <div class="form-group">
                                    {{comment_form | crispy}}
                                    </div>
                                    <div class="mt-1" style="text-align: right;">
                                        <button type="submit" class="btn btn-warning">댓글 작성</button>
                                    </div>
                            </form>
                            <div>
                                {% else %}
                                    <a role="button" class="btn btn-warning mb-5" href="#"
                                    data-toggle="modal" data-target="#loginModal">
                                        로그인 후 댓글을 작성할 수 있습니다. 클릭 시 로그인창으로 이동합니다.</a>
                                {% endif %}
                            </div>
                                {% if product.comment_set.exists %}
                                {% for comment in product.comment_set.all %}
                                <!-- Single comment-->
                                <div class="d-flex mb-2 " id="comment-{{comment.pk}}" >
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="{{comment.get_avatar_url}}" alt="{{comment.author}}" width="60px"/></div>
                                    <div class="ms-3">
                                        <div class="fw-bold">{{ comment.author.username }} &nbsp;&nbsp;&nbsp;
                                            <small class="text-muted">{{ comment.created_at | date:"y.m.d H:i"}}</small>
                                        </div>
                                        <p>{{comment.content | linebreaks}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
        </section>

{% endblock %}
