<!--        <div class="container mt-3" style="text-align: center;">-->
<!--        <div class="row">-->
<!--&lt;!&ndash;            카테고리 위젯&ndash;&gt;-->
<!--            <div class="col-8">-->
<!--                {% for c in categories %}-->
<!--                <a class="btn btn-warning" href="{{c.get_absolute_url}}">{{ c }} ({{ c.product_set.count }})</a>-->
<!--                {% endfor %}-->
<!--                <a class="btn btn-warning" href="http://127.0.0.1:8000/mall/category/no_category">기타 ({{ no_category_product_count }})</a>-->
<!--            </div>-->

<!--&lt;!&ndash;            검색 위젯&ndash;&gt;-->
<!--            <div class="col-4 ml-auto">-->

<!--            </div>-->

<!--        </div>-->
<!--        </div>-->

        <header class="bg-light py-2">
            <div class="container" style="text-align: center;">
                <div class="row text-center text-white">

                    <!-- 카테고리 -->
                    <div class="col-8">
                        {% for c in categories %}
                            <a class="btn btn-outline-danger" href="{{c.get_absolute_url}}">{{ c }} ({{ c.product_set.count }})</a>
                        {% endfor %}
                            <a class="btn btn-outline-danger" href="http://127.0.0.1:8000/mall/category/no_category">기타 ({{ no_category_product_count }})</a>
                    </div>

                    <!-- 검색 -->
                    <div class="col-4">

                    </div>

                </div>
            </div>
        </header>