        <div class="container mt-3" style="text-align: center;">
        <div class="row">
<!--            카테고리 위젯-->
            <div class="col-8">
                {% for c in categories %}
                <button type="button" class="btn btn-warning" href="{{c.get_absolute_url}}">{{ c }} ({{ c.product_set.count }})</button>
                {% endfor %}
                <button type="button" class="btn btn-warning" href="http://127.0.0.1:8000/mall/category/no_category">기타 ({{ no_category_product_count }})</button>
            </div>

<!--            검색 위젯-->
            <div class="col-4 ml-auto">

            </div>

        </div>
        </div>