{% extends 'mall/base.html' %}
{% load static %}
{% block main_area %}

{% if user.is_authenticated %}
<div class="container mt-5">
    {% if user.socialaccount_set.all.0.get_avatar_url %}
    <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
    {% else %}
    <img class="rounded-circle" width="25px" src='https://doitdjango.com/avatar/id/475/21399d185a8ff82e/svg/{{user.email}}/'>
    {% endif %}
    {{ user.username }}<br>
    이메일 : {{ user.email }}
</div>




{% else %}
<div class="container mt-5" style="text-align: center;">
    <h1>로그인 후 이용해 주세요.</h1>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endif %}

{% endblock %}
